@inherits SensorCardComponent

<RadzenCard Style="height:120px">
    <ChildContent>
        <div class="col-md-12" style="text-align: center">
            <div class="row align-items-center">
                <div class="col-md-12" style="padding-top:5px;">
                    <RadzenHtml>
                        @if (State)
                        {
                            <RadzenIcon class="ph-circle-fill" style="color: #5dbf74; font-size: 2.2em;" />
                        }
                        else
                        {
                            <RadzenIcon class="ph-circle-fill" style="color: #f9777f; font-size: 2.2em;" />
                        }
                    </RadzenHtml>
                </div>
                <div class="col-md-12" style="top: 10px">
                    <RadzenLabel style="font-size: 1.2em" Text="@($"{CardName}")">
                    </RadzenLabel>
                </div>
            </div>
        </div>
    </ChildContent>
</RadzenCard>