@page "/"
@page "/index"

@layout MainLayout
@inherits IndexComponent

@using UI.Pages.Index.Component.OperationState
@using UI.Pages.Index.Component.Cards
@using UI.Pages.Index.Component.Charts
@using UI.Pages.Index.Component.Controller

<RadzenContent Container="main">
    <ChildContent>
        @* Row 1 Machine Status *@
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6" style="margin-bottom: 10px;">
                @if (_globals!.GlobalMonitor.Status.Operation)
                {
                    <RuningState processPercen="PercenValue" program="_globals.GlobalPattern.PatternId"
                    hTime="_globals.GlobalMonitor.Status.RemainHours.ToTimeSpan().TotalHours"
                    mTime="_globals.GlobalMonitor.Status.RemainMins.ToTimeSpan().TotalMinutes">
                    </RuningState>
                }
                else
                {
                    <IdleState PatternID="_globals.GlobalPattern.PatternId"></IdleState>
                }
            </div>
            <div class="col-6 col-sm-1 col-md-1" style="margin-bottom: 10px;">
                <SensorCard State="_globals.GlobalMonitor.Status.Door" CardName="Door"></SensorCard>
            </div>
            <div class="col-6 col-sm-1 col-md-1" style="margin-bottom: 10px;">
                <SensorCard State="_globals.GlobalMonitor.Coil.CoilPump" CardName="Air"></SensorCard>
            </div>

            <div class="col-6 col-sm-3 col-md-2" style="margin-bottom: 10px;">
                <TempCard CardName="Oven" State="_globals.GlobalMonitor.Coil.CoilOven"
                    Value="_globals.GlobalMonitor.Temp.TempOven"></TempCard>
            </div>
            <div class="col-6 col-sm-3 col-md-2" style="margin-bottom: 10px;">
                <TempCard CardName="AFB" State="_globals.GlobalMonitor.Coil.CoilAFB"
                    Value="_globals.GlobalMonitor.Temp.TempAFB"></TempCard>
            </div>
        </div>

        @* Row 2 TempCard *@
        @* <div class="row" style="margin-top: 10px;">
            <div class="col-6 col-sm-3 col-md-3" style="margin-bottom: 10px;">
            <TempCard CardName="Oven" State="_globals.GlobalMonitor.Coil.CoilOven"
            Value="_globals.GlobalMonitor.Temp.TempOven"></TempCard>
            </div>
            <div class="col-6 col-sm-3 col-md-3" style="margin-bottom: 10px;">
            <TempCard CardName="AFB" State="_globals.GlobalMonitor.Coil.CoilAFB"
            Value="_globals.GlobalMonitor.Temp.TempAFB"></TempCard>
            </div>
            <div class="col-6 col-sm-3 col-md-3" style="margin-bottom: 10px;">
            <TempCard CardName="Floor" State="_globals.GlobalMonitor.Coil.CoilFloor"
            Value="_globals.GlobalMonitor.Temp.TempFloor"></TempCard>
            </div>
            <div class="col-6 col-sm-3 col-md-3" style="margin-bottom: 10px;">
            <TempCard CardName="Tube" State="_globals.GlobalMonitor.Coil.CoilTube"
            Value="_globals.GlobalMonitor.Temp.TempTube"></TempCard>
            </div>
            </div> *@

        @* Row 3 Chart & Program *@
        <div class="row" style="margin-top:10px;">
            <div class="col-12 col-xl-8 col-md-12 " style="margin-bottom: 10px;">
                <LineChart></LineChart>
            </div>
            <div class="col-12 col-xl-4 col-md-12 ">
                @if (_globals.GlobalPattern.PatternId == 0)
                {
                    <GraphSetting></GraphSetting>
                }
                else
                {
                    <OperationState></OperationState>
                }
            </div>
        </div>

    </ChildContent>
</RadzenContent>