@inherits RuningStateComponent

<RadzenCard>
    <ChildContent>
        <div class="row">
            <div class="col-md-12">
                <div style="margin-top: -5px" class="row">
                    <div class="col-md-12" style="text-align: center">
                        <RadzenLabel style="font-size: 1.2em" Text="Status : ">
                        </RadzenLabel>
                        <RadzenLabel style="color: #93CF7F; font-size: 1.2em; font-weight: 700" Text="@($"{("Operating Program " + program)}")">
                        </RadzenLabel>
                    </div>
                </div>
                <div style="margin-top: -5px" class="row">
                    <div class="col-md-12" style="padding-bottom: 5px; padding-top: 5px; text-align: center">
                        <RadzenProgressBar Value="@processPercen">
                        </RadzenProgressBar>
                    </div>
                </div>
                <div style="margin-top: -5px" class="row">
                    <div class="col-md-12" style="text-align: center">
                        <RadzenLabel style="font-size: 1.2em" Text="@($"{(hTime + " hr " + mTime + " min remaining")}")">
                        </RadzenLabel>
                    </div>
                </div>
            </div>
        </div>
    </ChildContent>
</RadzenCard>