@page "/"
@page "/index"

@using UI.Pages.Index.Component.Cards
@using UI.Pages.Index.Component.Charts
@using UI.Pages.Index.Component.Controller
@using UI.Pages.Index.Component.OperationState

@layout MainLayout
@inherits IndexComponent

<RadzenContent Container="main">
    <ChildContent>
        @* Row 1 Machine Status *@
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6" style="margin-bottom: 10px;">
                @if (Globals.GlobalMonitor.Status.Operation)
                {
                    <RuningState processPercen="PercenValue" program="Globals.GlobalPattern.PatternNumber"
                    hTime="Globals.GlobalMonitor.Status.RemainHours" mTime="Globals.GlobalMonitor.Status.RemainMins">
                    </RuningState>
                }
                else
                {
                    <IdleState PatternID="Globals.GlobalPattern.PatternNumber"></IdleState>
                }
            </div>
            <div class="col-6 col-sm-3 col-md-3">
                <SensorCard State="Globals.GlobalMonitor.Status.Door" CardName="Door"></SensorCard>
            </div>
            <div class="col-6 col-sm-3 col-md-3">
                <SensorCard State="Globals.GlobalMonitor.Coil.CoilPump" CardName="Air Flow"></SensorCard>
            </div>
        </div>

        @* Row 2 TempCard *@
        <div class="row" style="margin-top: 10px;">
            <div class="col-6 col-sm-3 col-md-3" style="margin-bottom: 10px;">
                <TempCard CardName="Oven" State="Globals.GlobalMonitor.Coil.CoilOven"
                    Value="Globals.GlobalMonitor.Temp.TempOven"></TempCard>
            </div>
            <div class="col-6 col-sm-3 col-md-3" style="margin-bottom: 10px;">
                <TempCard CardName="AFB" State="Globals.GlobalMonitor.Coil.CoilAFB"
                    Value="Globals.GlobalMonitor.Temp.TempAFB"></TempCard>
            </div>
            <div class="col-6 col-sm-3 col-md-3" style="margin-bottom: 10px;">
                <TempCard CardName="Floor" State="Globals.GlobalMonitor.Coil.CoilFloor"
                    Value="Globals.GlobalMonitor.Temp.TempFloor"></TempCard>
            </div>
            <div class="col-6 col-sm-3 col-md-3" style="margin-bottom: 10px;">
                <TempCard CardName="Tube" State="Globals.GlobalMonitor.Coil.CoilTube"
                    Value="Globals.GlobalMonitor.Temp.TempTube"></TempCard>
            </div>
        </div>

        @* Row 3 Chart & Program *@
        <div class="row" style="margin-top:10px;">
            <div class="col-12 col-xl-8 col-md-12 " style="margin-bottom: 10px;">
                <LineChart></LineChart>
            </div>
            <div class="col-12 col-xl-4 col-md-12 ">
                @if (Globals.GlobalPattern.PatternNumber == 0)
                {
                    <GraphSetting></GraphSetting>
                }
                else
                {
                    <OperationState></OperationState>
                }
            </div>
        </div>

    </ChildContent>
</RadzenContent>