@inherits IdleStateComponent

<RadzenCard Style="height:120px;">
    <ChildContent>
        <div class="row">
            <div class="col-md-12">
                <div style="margin-top: -5px" class="row">
                    <div class="col-md-12" style="text-align: center">
                        <RadzenLabel style="font-size: 1.2em" Text="Status : ">
                        </RadzenLabel>
                        @if (PatternID == 0)
                        {
                            <RadzenLabel style="color: #f9777f; font-size: 1.2em; font-weight: 700" Text="Idel">
                            </RadzenLabel> 
                        }
                        else
                        {
                            <RadzenLabel style="color: #e6c54f; font-size: 1.2em; font-weight: 700" Text="Waiting">
                            </RadzenLabel>
                        }
                        <div class="row">
                            <div class="col-xl-6 col-md-6 col-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <RadzenIcon Icon="add_circle_outline">
                                        </RadzenIcon>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <RadzenButton ButtonStyle="ButtonStyle.Light" Text="New Program" Click="NewProgramClick">
                                        </RadzenButton>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6 col-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <RadzenIcon Icon="folder_open">
                                        </RadzenIcon>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="border-left: 1px solid #6d787d">
                                        <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Load Program" Click="LoadProgram">
                                        </RadzenButton>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ChildContent>
</RadzenCard>