@inherits IdleStateComponent

<RadzenCard Style="height:110px;">
    <ChildContent>
        <div class="row">
            <div class="col-md-12">
                <div style="margin-top: -5px" class="row">
                    <div class="col-md-12" style="text-align: center">
                        <RadzenLabel style="font-size: 1.2em" Text="Status : ">
                        </RadzenLabel>
                        @if (PatternID == 0)
                        {
                            <RadzenLabel style="color: #f9777f; font-size: 1.2em; font-weight: 700" Text="Idle">
                            </RadzenLabel>
                        }
                        else
                        {
                            <RadzenLabel style="color: #e6c54f; font-size: 1.2em; font-weight: 700"
                            Text="@($"Waiting Program {PatternID}")">
                            </RadzenLabel>
                        }
                        <div class="row">
                            <div class="col-xl-6 col-md-6 col-6" style="margin-top: -20px;">
                                <div class="row" style="margin-top: 30px;">
                                    @if (!_globals!.isMobile)
                                    {
                                        <div class="col-md-12 d-none d-md-block">
                                            <RadzenButton Icon="add_circle_outline" ButtonStyle="ButtonStyle.Light"
                                            Text="New" Click="NewProgramClick" Disabled=IsDisable>
                                            </RadzenButton>
                                        </div>
                                        <div class="col-md-12 d-md-none">
                                            <RadzenButton Icon="add_circle_outline" ButtonStyle="ButtonStyle.Light"
                                            Text="New" Click="NewProgramClick" Disabled=true>
                                            </RadzenButton>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-12">
                                            <RadzenButton Icon="add_circle_outline" ButtonStyle="ButtonStyle.Light"
                                            Text="New" Click="NewProgramClick">
                                            </RadzenButton>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6 col-6" style="margin-top: -20px;">
                                <div class="row" style="margin-top: 30px;">
                                    @if (!_globals!.isMobile)
                                    {
                                        <div class="col-md-12 d-none d-md-block" style="border-left: 1px solid #6d787d">
                                            <RadzenButton Icon="folder_open" ButtonStyle="ButtonStyle.Light" Text="Load"
                                            Click="LoadProgram" Disabled=IsDisable>
                                            </RadzenButton>
                                        </div>
                                        <div class="col-md-12 d-md-none" style="border-left: 1px solid #6d787d">
                                            <RadzenButton Icon="folder_open" ButtonStyle="ButtonStyle.Light" Text="Load"
                                            Click="LoadProgram" Disabled=true>
                                            </RadzenButton>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-12" style="border-left: 1px solid #6d787d">
                                            <RadzenButton Icon="folder_open" ButtonStyle="ButtonStyle.Light" Text="Load"
                                            Click="LoadProgram" Disabled=IsDisable>
                                            </RadzenButton>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ChildContent>
</RadzenCard>