@inherits TempCardComponent

<RadzenCard Style="height: 110px;">
    <ChildContent>
        <div class="row justify-content-center" >
            <div class="align-items-center d-flex justify-content-center col-md-4 col-4" style="text-align: center">
                <RadzenHtml>
                    @if (State)
                    {
                        <RadzenIcon class="ph-thermometer-simple" style="color: #5dbf74; font-size: 2.7em" /> }
                    else
                    {
                        <RadzenIcon class="ph-thermometer-simple" style="color: #f9777f; font-size: 2.7em" />}
                </RadzenHtml>
            </div>
            <div class="col-md-6 col-6" style="text-align: center">
                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        <RadzenLabel style="font-size: 1.6em; font-weight: 700" Text="@($"{Value}")">
                        </RadzenLabel>
                        <RadzenLabel Text="°C">
                        </RadzenLabel>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center">
                        <RadzenLabel style="font-size: 1.2em" Text="@($"{CardName}")">
                        </RadzenLabel>
                    </div>
                </div>
            </div>
        </div>
    </ChildContent>
</RadzenCard>